.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(190, 190, 201);
  /* height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.container{
  height: 50rem;
  width: 40rem;
  background-color: white;
  margin: 10px;
  border-radius: 5px;

}

.up img{
  height: 30rem;
  width: 40rem;
  background:  no-repeat center center/cover;
  
}

.price{
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}
.desc{
  font-weight: 600;
}
.content{
  text-align: left;
  margin: 0 5px;
}

button{
  margin-left: 40%;
  margin-top: 15px;
  color: red;
  padding: 5px 25px;
}
